
<div class="content" role="main">
  <p>Hi {{name}}!!!   Here are some links to help you get started:</p>
  <!-- Tabs -->
 
  <input type="hidden" #selection>

  <div class="card-container">
    <div class="card card-small" (click)="selection.value = 'component'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>Home</span>
    </div>

    <div class="card card-small" (click)="selection.value = 'material'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>

      <span>View History</span>
    </div>


  </div>

  <!-- Terminal -->
  <div class="shadowbox" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault>Interface to enter task detail</pre>
      <pre *ngSwitchCase="'material'">
       
        <form action="#" method="post" target="_blank">
          <!--  -->
          <table style="width:100%">
            <tr>
              <td></td>
              <td > <b>Get Summary :</b></td>
              <td></td>
            </tr>
            <tr>
              <th>From</th>
              <th></th>
              <th>To</th>
              
            </tr>
            <tr>
              <td><input type="date" name="startdate" list="appointmentdateslist"/></td>
              <td></td>
              <td><input type="date" name="enddate" list="appointmentdateslist"/></td>
              
            </tr>
            <tr>
              <td></td>
              <td><input type="submit" value="submit"></td>
              <td></td>
            </tr>
          </table>

          <!--  -->
           

        </form>

      </pre>
  </div>
</div>